body { 
    font-family: Arial, sans-serif;
    text-aling: center;
    background--image: url("aranha.j")
    margin: 0;
    padding: 0;
    text-align: center;
}
 h1 {
    color:blanchedalmond;

}